.btn-file
{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: transparent;
    color: transparent;
}

.card-img-bottom {
    width: 100%;
    height: 100%;
    object-fit: cover;
}