﻿<!doctype html>
<html lang="en">
<head>
<!--    <meta charset="utf-8" />-->
    <title>GURU - Railway Knowledge Base</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href="//code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
    <script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="//code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="container theme-showcase" role="main">
    <headder>
        <div class="page-header">
            <h1>
               GURU <small> - An Experienced Railway Station Knowledge Base </small>
            </h1>
        </div>
    </headder>
    <section>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="{{ pagestatus1 }}"><a href="{{ url_for('sampleActionMethod') }}">Search Railway Station</a></li>
        </ul>
    </section>
    <section>
        {% block content %}{% endblock %}
    </section>
</body>
</html>
