{% extends "layout.html" %} {% block content %}
<div class="panel panel-default">
    <div class="panel-body">
        <form action="{{ url_for('sampleActionMethod') }}" method="post" role="form">
        <div class="form-group">
            <div class="autocomplete" >
                <input name="autocomplete" type="text" id="autocomplete" placeholder="Enter Railway Station" class="form-control input-lg"/>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Search</button>
        </div> 
        </form>
    </div>
</div>
{% if mongo_obj is defined %}
<div class="panel panel-default">
<div class="panel-body">
    <div class="card" >             
        <div class="card-body">
            <h3 class="card-title">{{mongo_obj["title"]}} </h3>
            <p class="card-text">{{mongo_obj["summary"]}}</p>
            <a href="{{mongo_obj["url"]}}" class="btn btn-primary">View In Wikipedia</a>

            <div class="row">
                    <div class="col-sm-6">
                        {% if mongo_obj["redirects"]|length > 0  %}
                        <div class="card text-white bg-info mb-3" >
                            <div class="card-header">Synonyms</div>
                            <div class="card-body">
                                {% for redirect in mongo_obj["redirects"] %}
                            <p class="card-text">{{redirect}}</p>
                            {% endfor %}
                            </div>
                        </div>
                        {% endif %} 
                    </div>
                    <div class="col-sm-6">
                        {% if mongo_obj["langlinks"]|length > 0  %}
                            <div  class="card text-white bg-success mb-3" >
                                <div class="card-header">Other Languages</div>
                                <div class="card-body">
                                {% for langlink in mongo_obj["langlinks"] %}
                                <a href="{{langlink["url"]}}" class="card-link">{{langlink["*"]}} ( {{langlink["langname"]}} )</a>
                                {% endfor %}
                                </div>
                            </div>
                        {% endif %}    
                    </div>
                    <div class="col-sm-6">
                        {% if 'lat' in mongo_obj["geocordinates"] %}
                        <div class="card text-white bg-primary mb-3" >
                                <div class="card-header">Geocordinates</div>
                                    <div class="card-body">
                                    <p class="card-text">lat:{{mongo_obj["geocordinates"]["lat"]}} , lon: {{mongo_obj["geocordinates"]["lon"]}}</p>
                                </div>
                                </div>
                        {% endif %}
                    </div>
                    <div class="col-sm-6">
                        {% if mongo_obj["station_code"] is defined %}
                        <div class="card text-white bg-danger mb-3" >
                                <div class="card-header">Station Code</div>
                                <div class="card-body">
                                    <p class="card-text"> {{mongo_obj["station_code"]}} </p>
                                </div>
                        </div>
                        {% endif %}
                    </div>
             </div>
        </div>
        <img class="card-img-bottom" src="{{mongo_obj["pageimage"]["url"]}}" alt="Railway Station Image">
    </div>
</div>
</div>
{% endif %} 


<script type="text/javascript">
$(function() {
$("#autocomplete").autocomplete({
    source:function(request, response) {
        $.getJSON("{{url_for('autocomplete')}}",{
            q: request.term, // in flask, "q" will be the argument to look for using request.args
        }, function(data) {
            response(data.matching_results); // matching_results from jsonify
        });
    },
    minLength: 2,
    select: function(event, ui) {
        console.log(ui.item.value); // not in your question, but might help later
    }
});
})

</script>

<script src="{{ url_for('static', filename='jq-lib.js') }}"></script>

{% endblock %} 